# Ignorar arquivos de views (ERB) ou HTML
app/views/** linguist-vendored
*.erb linguist-vendored
*.html linguist-vendored

# Ignorar documentação ou assets que possam interferir
public/** linguist-vendored
docs/** linguist-vendored

# Mantém Ruby como principal
*.rb linguist-language=Ruby

